<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke and Regression TestSuit">
    <test name="Login Test">
        <classes>
            <class name="com.aqa.tests.CartTest"/>
            <class name="com.aqa.tests.CheckoutTest"/>
            <class name="com.aqa.tests.LogoutTest"/>
            <class name="com.aqa.tests.ProductsTest"/>
            <class name="com.aqa.tests.LoginTest"/>
        </classes>
    </test>
</suite>